<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Si el archivo o carpeta solicitado existe físicamente, úsalo directamente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # De lo contrario, envía todo a index.php pasando la ruta como parámetro
    RewriteRule ^(.*)$ index.php?route=$1 [L,QSA]
</IfModule>